<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<!-- 다른 구성들 -->

	<!-- 404 에러 - 페이지 찾을 수 없음에 대한 에러 페이지 -->
	<error-page>
		<error-code>404</error-code>
		<location>/chalKag/errorPage.do</location>
	</error-page>

	<!-- 500 에러 - 내부 서버 오류에 대한 에러 페이지 -->
	<error-page>
		<error-code>500</error-code>
		<location>/chalKag/errorPage.do</location>
	</error-page>
</web-app>